version: "3.9"

services:
  api:
    build: .
    environment:
      NODE_ENV: production
      GOOGLE_CLIENT_ID: "${GOOGLE_CLIENT_ID}"
      GOOGLE_CLIENT_SECRET: "${GOOGLE_CLIENT_SECRET}"
      GOOGLE_CALLBACK_URL: "${GOOGLE_CALLBACK_URL}"
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis
      - neo4j

  neo4j:
    image: neo4j:5.13
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/yourpassword

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
